{% extends 'base.html.twig' %}

{% block title %}Measurements index{% endblock %}

{% block body %}
    <h1>Measurements index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Temperature</th>
                <th>Humidity</th>
                <th>Conditions</th>
                <th>WindVelocity</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for measurement in measurements %}
            <tr>
                <td>{{ measurement.id }}</td>
                <td>{{ measurement.temperature }}</td>
                <td>{{ measurement.humidity }}</td>
                <td>{{ measurement.conditions }}</td>
                <td>{{ measurement.windVelocity }}</td>
                <td>
                    <a href="{{ path('app_measurements_show', {'id': measurement.id}) }}">show</a>
                    <a href="{{ path('app_measurements_edit', {'id': measurement.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_measurements_new') }}">Create new</a>
    <a href="{{ path('app_location_index') }}">Go to location</a>
{% endblock %}
